@font-face {
    font-weight: 300;
    font-family: "Lato";
    src: url("assets/Lato-Light.ttf");
}

@font-face {
    font-weight: 400;
    font-family: "Lato";
    src: url("assets/Lato-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "Lato";
    src: url("assets/Lato-Bold.ttf");
}

@font-face {
    font-weight: 900;
    font-family: "Lato";
    src: url("assets/Lato-Black.ttf");
}
*{
    margin: 0;
    padding: 0;
}
main{
    max-width: 1020px;
    margin: 0px auto;
}
h1{
    font-size: 25px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}
ul{
    display: flex;
    float: right;
    list-style: none;
    padding-bottom: 4px;
    justify-content: center;
}
ul li{
    margin: 0px 14.3px;
    font-size: 12px;
    padding-top: 13px;
    position: relative;
}

ul li a{
    font-size: 12px;
    color: white;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    
}
ul li a span{
    color: #f06c64;
    font-family: 'Lato';
    font-weight: 700;
    
}
ul li a:hover,ul li a span:hover{
    cursor: pointer;
    color: yellow;
}
li::before{
    
    content: '';
    position: absolute;
    left: -15.3px;
    top: 20px;
    width: 2px;
    height: 2px;
    background: rgb(73, 72, 72);
}
ul li:first-of-type::before {
    display: none;
}
.logo span{
    color: #f06c64;
}
header{
    display: grid;
    grid-template-columns: 140px auto;
    padding: 23.6px 22.9px 28px 41px;
    color: white;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.slider{
    padding:53px 40px 61px 40px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}
.phones{
    display: grid;
    height: 480px;
    grid-template-columns: repeat(12,1fr);
}
.leftArrow{
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 228px;
    margin-left: 2px;
    width: 16px;
    height: 27px;
    background: url("assets/leftArrow.png");
}
.rightArrow{
    grid-column-start: 12;
    grid-column-end: 13;
    margin-top: 228px;
    margin-left: 62px;
    width: 16px;
    height: 27px;
    background: url("assets/rightArrow.png");
}
.verticalIPhone{
    grid-column-start: 2;
    grid-column-end: 5;
    margin-top: -1px;
    margin-bottom: 6px;
    margin-left: -6.5px;
    width: 240px;
    height: 485px;
    background: url("assets/iPhone-Vertical.png");
}
.horizontalIPhone{
    grid-column-start: 6;
    grid-column-end: 12;
    margin-top: 121px;
    margin-left: -5.8px;
    width: 485px;
    height: 240px;
    background: url("assets/iPhone-horizontal.png");
}
.OurServices{
    background-color: #f2f2f2;
    height: 492px;
    border: 1px solid #f2f2f2;
}
.gridServices{
    display: grid;
    height: 370px;
    grid-template-columns: repeat(12,80px);
    grid-template-rows: 31px repeat(4,60.2px);
    margin-left: 40px;
    margin-top: 65px;
}
.DescriptionOurServices{
    grid-column: 1/13;
    grid-row: 1/4;
}
.DescriptionOurServices p{
    padding-top: 27px;
}
.gridServices div:nth-child(2){
    grid-column: 1/2;
    grid-row: 4/6;
}
.gridServices div:nth-child(3){
    grid-column: 2/5;
    grid-row: 4/6;
}
.gridServices div:nth-child(4){
    grid-column: 5/6;
    grid-row: 4/6;
}
.gridServices div:nth-child(5){
    grid-column: 6/9;
    grid-row: 4/6;
}
.gridServices div:nth-child(6){
    grid-column: 9/10;
    grid-row: 4/6;
}
.gridServices div:nth-child(7){
    grid-column: 10/13;
    grid-row: 4/6;
}
.gridServices div:nth-child(8){
    grid-column: 1/2;
    grid-row: 6/8;
}
.gridServices div:nth-child(9){
    grid-column: 2/5;
    grid-row: 6/8;
}
.gridServices div:nth-child(10){
    grid-column: 5/6;
    grid-row: 6/8;
}
.gridServices div:nth-child(11){
    grid-column: 6/9;
    grid-row: 6/8;
}
.gridServices div:nth-child(12){
    grid-column: 9/10;
    grid-row: 6/8;
}
.gridServices div:nth-child(13){
    grid-column: 10/13;
    grid-row: 6/8;
}
.DescriptionOurServices{
    padding-top: 2px;
}
.DescriptionOurServices h2{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato';
    font-weight: 900;
}
.DescriptionOurServices p{
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 300;
    text-align: left;
}
.textForPicture h3{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato';
    font-weight: 900;
}
.textForPicture p{
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 400;
    padding-top: 10px;
}
.textForPicture2{
    padding-top: 4px;
}
.textForPicture2 h3{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato';
    font-weight: 900;
}
.textForPicture2 p{
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 400;
    padding-top: 10px;
}
.iconPicture1{
    padding-top: 2px;
}
.iconPicture2{
    padding-top: 5px;
}